#principal { 
        max-width: 100%; 
        height: auto; 
        display: block; 
        margin: auto; 
    }

h1 {
    text-align: center; 
    font-size: xx-large;
    }
header{
    position: sticky;
    top: 0;
    background-color: rgb(63, 46, 176);
    padding: 5px;
    display:flex;
    justify-content: space-between;
    }
main p{
    font-size: larger;
}
header img{
    margin: 10px;
    margin-right: auto;
    width: 60px;
}
header nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 20px;
    margin-top: 25px;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-decoration: none;
    color: aqua;
    transition: color 0.3s;
}
header nav ul li a:hover{
    color: blue;
}
#equipe table{
    justify-content: center;
    width: 20%;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
}
#historico{
    
    padding: 20px;
    color: black;
    font-size: 20px;
}
#historico table{
    width: 100%;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
}
table th{
    background-color: aqua;
}
#historico .vitoria:hover{
    background-color: greenyellow;
}
#historico .derrota:hover{
    background-color: red;
}
table{
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
}
tr, td, th{
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
}
footer{
    background-color: aqua;
}
footer p{
    display: inline-flex;
}